env

db.sqlite3



# Ignore Python cache files
__pycache__/
SocialWebsite/post/__pycache__/
SocialWebsite/userdetail/__pycache__/



socialwebapp\SocialWebsite\post\__pycache__
SocialWebsite\SocialWebsite\__pycache__
SocialWebsite/static/post_images/178376-elk-deer-moose-reindeer-painting-1920x1080.jpg
SocialWebsite/static/post_images/abc.jpg
SocialWebsite/static/post_images/eren.jpg
.gitignore
SocialWebsite/SocialWebsite/__pycache__/urls.cpython-311.pyc
SocialWebsite/static/post_images/wallhaven-9mwmek_1920x1080.png
SocialWebsite/static/profile_images/peacemaker-tv-series-hd-wallpaper-1920x1080-90.jpg
SocialWebsite/static/profile_images/zoro-one-piece-4k-wallpaper-11626013015hyshknnctn.jpg
SocialWebsite/SocialWebsite/__pycache__/settings.cpython-311.pyc
SocialWebsite/post/migrations/__pycache__/0001_initial.cpython-311.pyc
SocialWebsite/post/__pycache__/views.cpython-311.pyc
SocialWebsite/post/__pycache__/urls.cpython-311.pyc
SocialWebsite/post/__pycache__/models.cpython-311.pyc
SocialWebsite/post/__pycache__/forms.cpython-311.pyc
SocialWebsite/post/__pycache__/admin.cpython-311.pyc
.gitignore
SocialWebsite/SocialWebsite/__pycache__/urls.cpython-311.pyc
SocialWebsite/SocialWebsite/__pycache__/settings.cpython-311.pyc
SocialWebsite/post/migrations/__pycache__/0001_initial.cpython-311.pyc
SocialWebsite/post/__pycache__/views.cpython-311.pyc
SocialWebsite/post/__pycache__/urls.cpython-311.pyc
SocialWebsite/post/__pycache__/models.cpython-311.pyc
SocialWebsite/post/__pycache__/forms.cpython-311.pyc
SocialWebsite/post/__pycache__/admin.cpython-311.pyc
.gitignore
SocialWebsite/userdetail/views.py
SocialWebsite/userdetail/__pycache__/views.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/urls.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/signals.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/models.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/forms.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/admin.cpython-311.pyc
SocialWebsite/SocialWebsite/__pycache__/settings.cpython-311.pyc
SocialWebsite/SocialWebsite/__pycache__/urls.cpython-311.pyc
SocialWebsite/post/migrations/__pycache__/0001_initial.cpython-311.pyc
SocialWebsite/post/__pycache__/views.cpython-311.pyc
SocialWebsite/post/__pycache__/urls.cpython-311.pyc
SocialWebsite/post/__pycache__/models.cpython-311.pyc
SocialWebsite/post/__pycache__/forms.cpython-311.pyc
SocialWebsite/post/__pycache__/admin.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/views.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/models.cpython-311.pyc

SocialWebsite/userdetail/migrations
SocialWebsite/static/post_images
SocialWebsite/post/__pycache__/views.cpython-311.pyc
SocialWebsite/post/__pycache__/urls.cpython-311.pyc
SocialWebsite/post/__pycache__/models.cpython-311.pyc
to-do-notes.txt
SocialWebsite/post/__pycache__/views.cpython-311.pyc
SocialWebsite/post/__pycache__/urls.cpython-311.pyc
SocialWebsite/post/__pycache__/models.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/views.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/urls.cpython-311.pyc
SocialWebsite/post/__pycache__/views.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/models.cpython-311.pyc
SocialWebsite/post/__pycache__/models.cpython-311.pyc
SocialWebsite/post/__pycache__/urls.cpython-311.pyc
SocialWebsite\post\templates\base.html
SocialWebsite/userdetail/__pycache__/
SocialWebsite/userdetail/models.py
SocialWebsite/userdetail/__pycache__/urls.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/forms.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/models.cpython-311.pyc
SocialWebsite/userdetail/views.py
SocialWebsite/post/__pycache__/views.cpython-311.pyc
SocialWebsite/post/__pycache__/urls.cpython-311.pyc
SocialWebsite/post/__pycache__/models.cpython-311.pyc
.gitignore
SocialWebsite/userdetail/__pycache__/urls.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/models.cpython-311.pyc
SocialWebsite/userdetail/__pycache__/forms.cpython-311.pyc
SocialWebsite/post/__pycache__/views.cpython-311.pyc
SocialWebsite/post/__pycache__/urls.cpython-311.pyc
SocialWebsite/post/__pycache__/models.cpython-311.pyc
