{% load static %}
{% include "base.html" %}
{% block content %}
<hr>
<style>
 #content{
        margin-top: 450px; /* Adjust this value based on your navbar height */
    } 
</style>
<div id="content" class="flex items-center justify-center h-screen">
    <div class="max-w-md mt-11 pt-14  bg-yellow-500 p-6 rounded-lg shadow-md">
        {% include "post/create_post.html" %}
        <div class="bg-white p-4 rounded-lg shadow-sm mb-4">
           post_form section
        </div>
        <!-- Posted Items Section -->
        <div class="mt-8 space-y-6">
            {% for post in posts %}
            <div class="bg-white p-6 rounded-lg shadow-md border border-slate-rgb(0,0,0)">
                <div class="flex items-center space-x-2 mb-4">
                    <!-- Profile Picture -->
                    {% if post.user.profile_pic %}
                    <img class="h-10 w-10 rounded-full" src="{{ post.user.profile_pic }}" alt="{{ post.user.username }}">
                    {% else %}
                    <img class="h-10 w-10 rounded-full" src="{% static 'profile_images/default_profile.jpg' %}" alt="{{ post.user.username }}">
                    {% endif %}
                    
                    <!-- Username and Post Details -->
                    <div class="flex flex-col">
                        <h2 class="font-semibold text-lg">{{ post.user }}</h2>
                        
                        <p class="text-sm text-gray-500">Posted by <a href="userdetail:profile">{{ post.user }}</a> on {{ post.created | date }}</p>
                    </div>
                </div>
        
                <!-- Post Content -->
                <h2 class="font-semibold text-lg">{{ post.title }}</h2>
                <p class="text-gray-700 ">{{ post.body }}</p>
                
                <!-- Post Image -->
                {% if post.image %}
                <img class="w-full mt-4 " src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <a href="#">Like</a>
                <a href="#">Comment</a>
                <a href="#">Share</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
