{% load static %}
{% include "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src= 
    "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
        </script>
</head>
<body >
    <div class="flex justify-center w-full">
    <div class=" felx justify-center w-[638.545px]   mt-11 pt-10  bg-blue-500 p-6 rounded-lg shadow-md ">
       
      
        <!-- Posted Items Section -->
        <div class="mt-0 space-y-6">
            {% for post in posts %}
            <div class="bg-white p-6 rounded-lg shadow-md border border-slate-rgb(0,0,0)">
                <div class="flex justify-between items-center mt-4 text-sm text-gray-600">
                    <!-- Profile Picture -->
                    {% if post.user.profile_pic %}
                    <img class="h-10 w-10 rounded-full" src="{{ post.user.profile_pic }}" alt="{{ post.user.username }}">
                    {% else %}
                    <img class="h-10 w-10 rounded-full" src="{% static 'profile_images/default_profile.jpg' %}" alt="{{ post.user.username }}">
                    {% endif %}
                    
                    <!-- Username and Post Details -->
                    <div class="flex flex-col ml-3">
                        <h2 class="font-semibold text-lg text-gray-800"><a href="{% url 'userdetail:user_profile' username=post.user.user %}" class="hover:underline">{{ post.user }}</h2>
                        <p class="text-sm text-gray-500">Posted by <a href="{% url 'userdetail:user_profile' username=post.user.user %}" class="hover:underline">{{ post.user }}</a> on {{ post.created | date }}</p>
                    </div>
                    <div class="flex flex-col">
                        <a href="{% url "post:post" post_slug=post.slug %}" class="text-blue-500 hover:underline">View Post</a>
                    </div>
                   
                </div>
        
                <!-- Post Content -->
                <p class="text-gray-700 ">{{ post.body }}</p>
                <!-- Post Image -->
                {% if post.image %}
                <img class="w-full mt-4 " src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
       
                
                {% if request.user.profile in post.likes.all %}
                
                <a href="{% url 'post:like' post_slug=post.slug %}"><img src="{% static "logo\dislike-logo.png" %}" alt="webapplogo" class="h-12 w-12"> ({{ post.likes.count }})</a>
                {% else %}
               
                <a href="{% url 'post:like' post_slug=post.slug %}"><img src="{% static "logo\like-logo.png" %}" alt="webapplogo" class="h-12 w-12"> ({{ post.likes.count }})</a>
                {% endif %}
                
                <a href="{% url "post:create_comment" post_slug=post.slug %}"><img src="{% static "logo\comment-logo.png" %}" alt="webapplogo" class="h-12 w-12"></a>
                <a href="{% url "post:share_email_form" post_slug=post.slug %}"> <img src="{% static "logo\share-logo.png" %}" alt="webapplogo" class="h-12 w-12"></a>

            
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="felx justify-center h-1/2  min-w-1/3 mt-11 ml-11 pt-14  bg-blue-600 p-6 rounded-lg shadow-md" >
        <p>Suggested for you</p>
         
        <ul class="max-w-xs space-y-2">
            {% for user in user_profile %}
                <li class="flex items-center p-2 border-b border-gray-200 hover:bg-gray-100 transition duration-200">
                    {% if user.profile.profile_pic %}
                    <img class="h-10 w-10 rounded-full" src="{{ user.profile_pic }}" alt="{{ post.user.username }}">
                    {% else %}
                    <img class="h-10 w-10 rounded-full" src="{% static 'profile_images/default_profile.jpg' %}" alt="{{ post.user.username }}">
                    {% endif %}
                    <a href="{% url 'userdetail:user_profile' username=user.username %}" class="flex items-center w-full">
                        <img src="{{ user.profile.profile_pic }}" alt="{{ user.username }}'s profile picture" class="h-10 w-10 rounded-full mr-3">
                        <div class="flex flex-col">
                            <span class="font-semibold text-gray-800">{{ user.username }}</span>
                            {% if user.bio %}
                                <span class="text-sm text-gray-600">{{ user.bio }}</span>
                            {% endif %}
                        </div>
                    </a>
                </li>
            {% empty %}
                <li class="text-gray-500">No users found.</li>
            {% endfor %}
        </ul>
            
    </div>
   
</div>
{% endblock content %}
</body>
</html>

