{% include "nav.html" %}
<body>
    
        {% if messages %}
        {% for message in messages %}
            <h1 class="bg-red-400 flex justify-center mt-3 px-2 py-2">{{message}}</h1>
        
        {% endfor %}
        {% endif %}
        <div class="flex justify-center">
            <h1 class=" flex justify-center mt-3 px-2 py-2">You can &nbsp;
                <a href="{% url "userdetail:login" %}" class="hover:underline text-blue-400 ">Here</a>&nbsp; to log in again .</h1>
        </div>
</body>
</html>