{% load static %}
{% include "base.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body>
    <div class="flex  justify-center align-center">
        <ul class="mt-14">
            <li> <a href="{% url 'userdetail:edit' user.username %}">Edit</a></li>
            <li><img   class="h-10 w-10 rounded-full"
                src="{% if profile.profile_pic %}{{profile.profile_pic}}{% else %} static\profile_images\default_profile.jpg {% endif %}"
                alt="{{ profile.user }}"></li>
            <li> <h1>Name: {{ profile.user.first_name }} {{ profile.user.last_name }} </h1></li>
            <li> <h1>Email: {{ profile.user.email }}</h1></li>
            <li> <h1>Username: {{ profile.user }}</h1></li>
            <li><p>Date of Birth: {{ profile.date_of_birth }}</p></li>
        </ul>
      
    </div>
</body>
{% endblock content %}
</html>

   
    