{% load static %}
{% include "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user.username}}</title>
</head>
{% block content %}
<body>
    <div class="max-w-md mx-auto text-center mt-10 space-y-4">

        <div>
            <img class="h-24 w-24 rounded-full object-cover mx-auto"
                 src="{% if profile.profile_pic %}{{ profile.profile_pic.url }}{% else %}{% static 'profile_images/default_profile.jpg' %}{% endif %}" 
                 alt="{{ profile.user }}">
        </div>
       
        
        <div>
            <h1 class="text-xl font-semibold">{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
            <p class="text-gray-500">@{{ profile.user.username }}</p>
            {% if profile.bio %}
            <p class="text-gray-600"> {{ profile.bio }}</p>
            {% endif %}
            {% if profile.date_of_birth  %}
            <p class="text-gray-600">Date of Birth: {{ profile.date_of_birth }}</p>
            {% endif %}
           
        </div>

        <div>
            <a href="{% url 'userdetail:edit' user.username %}" class="text-blue-500 font-medium border border-gray-300 py-1 px-4 rounded-full hover:bg-gray-100">
                Edit Profile
            </a>
        </div>

        <!-- Following and Followers Count -->
        <div class="flex justify-around text-center text-gray-700 border-t border-gray-200 pt-4">
            <div>
                <h2 class="font-semibold">Posts</h2>
                <p class="text-sm">{{ posts_count }}</p>
            </div>
            <div>
                <h2 class="font-semibold">Following</h2> 
                <p class="text-sm">{{ following }}</p>
            </div>
            <div>
                <h2 class="font-semibold">Followers</h2>
                <p class="text-sm">{{ followers }}</p>
            </div>
        </div>
        {% for post in posts  %}
        <h1>{{post.body}}</h1>
        <img src="{{post.image.url}}" alt="{{post.slug}}">
        {% if request.user.profile in post.likes.all %}  
    <a href="{% url 'post:like' post_slug=post.slug %}">Unlike<img src="{% static "logo\unlike-logo.jpeg" %}" alt="webapplogo" class="h-12 w-12"> ({{ post.likes.count }})</a>
    {% else %}
    <a href="{% url 'post:like' post_slug=post.slug %}">Like <img src="{% static "logo\like-logo.jpeg" %}" alt="webapplogo" class="h-12 w-12"> ({{ post.likes.count }})</a>
    {% endif %}
    <a href="{% url "post:create_comment" post_slug=post.slug %}">Comment</a>
    <a href="#">Share</a>
        {% endfor %}
    </div>
</body>

{% endblock content %}
</html>
