{% load tailwind_tags %}
{%tailwind_css %}
<body>
    
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}
{% endif %}


    <div class="flex min-h-full flex-col justify-center px-6 py-2 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          {% comment %} <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Name of socialwebapp"> {% endcomment %}
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Create your account</h2>
        </div>
    <div class="flex min-h-full flex-col justify-center px-6 py-0 lg:px-8">
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            
        {% if messages %}
        {% for message in messages %}
            <h1 class="bg-red-400 flex justify-center mt-3 px-2 py-2">{{message}}</h1>
        
        {% endfor %}
        {% endif %}
        <form action="{% url "userdetail:register" %}" method="POST">
            {% csrf_token %}
                <label for="first_name">First Name</label>
                {{form.first_name}}
                <label for="last_name">Last Name</label>
                {{form.last_name}}
                <label for="username">Username</label>
                {{ form.username}}
                <label for="email">Email</label>
                {{form.email}}
                <label for="password">Password</label>
                {{form.password1}}
                <label for="confirm-password">Confirm Password</label>
                {{form.password2}} &nbsp;
        <input type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold  text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" value="Submit">
        </form>
    </div>
 <p class="mt-10 text-center text-sm text-gray-500">
        Already have an account?
        <a href="{% url 'userdetail:login' %}" class="font-semibold  text-indigo-600 hover:text-indigo-500">Login</a>
      </p></p>
</div>
</div>
</body>
</html>